<a href="https://twitter.com/dropcanco" class="banner center tagline">Tweet @dropcanco and have your issue dumped in the bin. Or post here and have a chance of being reposted by @dropcanco</a>
</body>
</html>