{{>head}}
    <h3 class="center tagline header">Where your trash is dumped and eventually disappears forever.</h3>
    <h4 class="center tagline header">Throw away something right now to see the trash inside.</h4>
    {{#response}}<strong class="center">
        {{message}}
    </strong>{{/response}}
    <form action="/" method="post" class="center">
        <textarea placeholder="Description of something you want to get rid of, a memory you would like forget, a bad idea you know will never work, or just simply any rubbish you encounter in life and are just sick off. Let the web take it. " name="message"></textarea>
        <button class="post-button button center"></button>
    </form>
{{>foot}}