{{>head}}
	
	<div class="messages">
		{{#data}}
		<div class="message {{settings}}">
			<div class="inner">
			<b>{{time}}</b>
			{{memo}}
			</div>
		</div>
		{{/data}}
	</div>

	<a href="/">
		<button class="back-button"></button>
	</a>

{{>foot}}